:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.q-table, .default-font {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

body.body--dark .q-header,
body.body--dark .q-footer,
body.body--dark .q-drawer {
  background-color: #383838;
  color: #ffffff;
}



.q-item.q-router-link--active,
.q-item--active {
  color: #ffffff;
  fill: #ffffff;
}

q-card--light {
  background-color: #fafafa;
  color: #000000;
}

q-card--dark {
  background-color: #616161;
  color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

.info-box {
  border-color: #bdbdbd;
  border-style: none none none solid;
  border-width: 3pt;
  padding: 8px;
  background-color: #bdbdbd22;
  border-radius: 0px;
  pointer-events: none;
  user-select: none;
}

.panel {
  background-color: #f6f6f6;
}

.title-bar-lv1 {
  background-color: #e0e0e0;
  font-size: large;
}

.title-bar-lv2 {
  background-color: #eeeeee;
  font-size: medium;
}

.graph {
  background-color: #ffffff;
  background-image: url('/graph_bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-top {
  background-color: #145EA8;
  color: #ffffff;
  font-size:  large;
}

.about-bottom {
  background-color: #1976D2;
  color: #ffffff
}

.bold-heading {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: larger;
  font-weight: bold;
}

.info-title {
  font-size:  smaller
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invalid {
  color: orangered;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  .about-top {
    background-color: #2f2f2f;
    color: #f6f6f6;
  }

  .about-bottom {
    background-color: #2f2f2f;
    color: #f6f6f6;
  }

  .info-box {
    color:#c1c1c1;
    background-color: #262626;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }

  .panel {
    background-color: #2f2f2f;
  }

  .title-bar-lv1 {
    background-color: #424242;
  }

  .title-bar-lv2 {
    background-color: #313131;
  }

  .graph {
    background-color: #2f2f2f;
    background-image: url('/graph_bg_dark.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  ::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
  }

  ::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #c1c1c1;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
  }

}